body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #121212;
  color: #e0e0e0;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  color: #76c7c0;
}

#inputArea {
  margin-bottom: 20px;
  color: aqua;
}

#arrayInput {
  padding: 5px;
  font-size: 16px;
  width: 300px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  
}

.array-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.array-element {
  width: 50px;
  height: 50px;
  background-color: #1e88e5;
  color: #fff;
  margin: 5px;
  line-height: 50px;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.highlight {
  background-color: #d81b60;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  background-color: #424242;
  color: #e0e0e0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

#explanation {
  margin-top: 20px;
  font-size: 18px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#codeBlock {
  background-color: #1e1e1e;
  color: #76c7c0;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 30px auto;
  overflow-x: auto;
  font-size: 16px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  color: #000;
}